04-analytics-engineering/Data-Pipeline/flows/test_foreachitem.yaml
id: test_foreachitem
namespace: de_04
description: |
  Load Parquet files from the website containing the New Yorc City Taxi Data into the Data Lake (GCS Bucket)

tasks:
  - id: each
    type: io.kestra.plugin.core.flow.ForEachItem
    items: "{{ inputs.file }}" # could be also an output variable {{ outputs.extract.uri }}
    inputs:
      file: "{{ taskrun.items }}" # items of the batch
    batch:
      rows: 4
    namespace: company.team
    flowId: subflow
    revision: 1 # optional (default: latest)
    wait: true # wait for the subflow execution
    transmitFailed: true # fail the task run if the subflow execution fails
    labels: # optional labels to pass to the subflow to be executed
      key: value